@CHARSET "UTF-8";
.nav
{
	margin: auto;
}
.glyphicon
{
	width: 1.28571429em;
}
.panel-body
{
	height:89%;
	height: calc(100% - 1.65em);
	padding: 0px;
	background-color: black;
	color: white;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}